/* BotaoAgendamento.css */

.new-appointment-button {
    background-color: var(--dark-black); /* Cor escura do botão na imagem */
    color: var(--white-normal);
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.2s;
}

.new-appointment-button:hover {
    background-color: #555; /* Um tom um pouco mais claro no hover */
}

.new-appointment-button .plus-icon {
    font-size: 20px;
    font-weight: 700;
}