/* Estilo base da Listagem */
.listagem-container {
    width: 100%;
}

.listagem-header {
    display: grid;
}

.listagem-body {
    display: flex;
    flex-direction: column;
}

.listagem-row {
    display: grid;
    align-items: center;
}

.listagem-data {
    color: #333;
    font-size: 0.95em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.listagem-vazia {
    margin: 1rem auto;
    font-size: 0.95rem;
    color: var(--dark-black);
    opacity: 0.75;
    text-align: center;
}

/* Variante Clientes */
.listagem-clientes {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.clientes-listagem-header {
    display: grid;
    grid-template-columns: 3fr 1fr 1.5fr 1fr;
    gap: 1rem;
    padding: 0.75rem 1.2rem;
    font-weight: bold;
    color: var(--normal-black-strong);
}

.clientes-listagem-header .header-item {
    margin: 0;
    font-size: 19px;
    color: var(--dark-black);
    font-weight: 700;
}

.client-list-items-container {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding-right: 1rem;
}

.clientes-listagem-row {
    display: grid;
    grid-template-columns: 3fr 1fr 1.5fr 1fr;
    gap: 1rem;
    align-items: center;
    padding: 0.3rem 1.2rem;
    box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.151);
    border-radius: 10px;
    margin-bottom: 0.7rem;
    background-color: #f6f6f6;
    /* background-color: var(--white-normal); */
}

.clientes-listagem-row .listagem-data {
    font-weight: 600;
}

.clientes-listagem-row .col-info {
    display: flex;
    justify-content: flex-start;
}

.clientes-listagem-row .col-status,
.clientes-listagem-row .col-edit {
    display: flex;
    justify-content: center;
}