/* Importa os partials */
@import './styles/colors.css';
@import './styles/layout.css';
@import './styles/spacing.css';
@import './styles/typography.css';



/* Outras regras globais, resets, etc */
body {
    margin: 0;
    font-family: var(--font-family-base, Arial, sans-serif);
    background: var(--background-base, #fff);
}