.kpi-section {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}

.kpi-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    width: 90%;
    position: relative;
}

.kpi-card {
    background: var(--white-normal, #fff);
    border-radius: 8px;
    padding: 10px 14px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #eee;
    height: 90px;
    margin-bottom: 10px;
    position: relative;
    transition: border-color 0.3s ease;
}
.kpi-card-negative-border {
    border: 2px solid var(--negative-color, #cf1f13);
    padding: 9px 13px;
    box-shadow: 0 4px 8px rgba(231, 32, 18, 0.3);
}

.kpi-header {
    min-height: 15px;
    margin-bottom: -5px;
    margin-top: -8px;
}

.kpi-status {
    display: inline-flex;
    align-items: center;
    font-size: 11px;
    font-weight: 600;
    color: var(--red-normal);
    padding: 2px 2px;
    border-radius: 4px;
    margin-top: -40px;
}

.kpi-status .status-icon {
    font-size: 14px;
    margin-right: 4px;
}

.kpi-status-hidden {
    display: none;
}

.kpi-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 5px;
    font-family: "Montserrat", sans-serif;
}

.kpi-value {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2px;
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.kpi-value .percent {
    font-size: 13px;
    font-weight: normal;
    color: #888;
}

.kpi-label {
    font-size: 13px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: var(--black-normal, #000);
    margin-bottom: 1px;
}

.kpi-change {
    position: absolute;
    top: 10px;
    right: 14px;
    height: 40px;
    width: 45px;
}

.kpi-change .change-icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    line-height: 1;
    z-index: 2;
    background: none;
}

.kpi-change .change-icon.change-positive {
    color: var(--positive-color);
}

.kpi-change .change-icon.change-negative {
    color: var(--negative-color);
}

.kpi-change .change-value-baloon {
    position: absolute;
    top: 55px;
    right: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: var(--white-normal);
    padding: 3px 6px;
    border-radius: 6px;
    line-height: 1;
}

.kpi-change.change-positive .change-value-baloon {
    background-color: var(--positive-color);
}

.kpi-change.change-negative .change-value-baloon {
    background-color: var(--negative-color);
}

.kpi-change-skeleton {
    height: 40px;
    width: 45px;
}

.kpi-change-skeleton .change-skeleton-placeholder {
    position: absolute;
    top: 15px;
    right: 0;
    background-color: #e0e0e0 !important;
    color: transparent !important;
    padding: 3px 6px;
    border-radius: 6px;
    width: 100%;
    height: 16px;
}

.active-filter-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: var(--white-normal, #fff);
    border-radius: 8px;
    padding: 10px 14px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #eee;
    height: 90px;
}

.filter-card-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-icon {
    font-size: 1.5rem;
    color: #333;
}

.filter-title.skeleton-text-medium {
    font-size: 13px;
    height: 14px;
    margin-bottom: 5px;
    width: 100%;
}

.filter-date.skeleton-value {
    font-size: 18px;
    font-weight: bold;
    height: 20px;
    width: 100%;
}

.kpi-tooltip {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    min-height: 80px;
    background: var(--white-normal, #fff);
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(-10px);
}

.kpi-tooltip .tooltip-title {
    font-size: 1rem;
    font-weight: bold;
    color: var(--normal-black, #333);
    margin: 0 0 5px 0;
    font-family: "Montserrat", sans-serif;
}

.kpi-tooltip .tooltip-text {
    font-size: 0.8rem;
    color: #666;
    line-height: 1.4;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.kpi-card:hover .kpi-tooltip {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}